<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv='Content-Type' />
</head>
<body>
  <h1>Thanks for signing up</h1>
  <p>Now sign in and do awesome things!</p>
  <a href="http://moneytor.herokuapp.com/login">Sign in</a>
</body>
<html>
