<% if current_user %>
  <h3>Dashboard</h3>
  <div class="row">
    <div class="col-md-8">
      <%= pie_chart Purchase.group(:product).where(user_id: current_user.id).count %>
    </div>
  <div class="col-md-4">
         <div class="sidebar">
            <h4>This month, you've spent:</h4>
            <h1><%= number_to_currency(Purchase.where(user_id: current_user.id).where("purchase_date BETWEEN ? AND ?", Date.today.beginning_of_month, Date.today.end_of_month).sum(:amount))%></h1>
          </div>
  </div>
</div>
<% else %>
     <div class="jumbotron">
        <h1>Where is your money going?</h1>
        <p>Simple and flexible money tracker to help you monitor your daily spending and expenses.</p>
      </div>
  <div class="row">
    <div class="col-lg-4">
      <img src="assets/expense-tracking.gif">
      <h3>Track what you want</h3>
      <p>Track you purchases by category</p>
    </div>
    <div class="col-lg-4">
      <img src="assets/take_control_sign.gif">
      <h3>Take control</h3>
      <p>Watch your spending with simple to read dashboard.</p>
   </div>
    <div class="col-lg-4">
      <img src="assets/lock.jpg">
      <h3>Quick & safe</h3>
      <p>Creating account takes only a few seconds and we promise not to share you personal information.</p>
    </div>
  </div>
<% end %>
