/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html,
body {
  height: 100%;
  background-color: #FCFBFA;
}

a img {
  width: 60px;
  height: 60px;
}

.img_modal img {
  width: 300px;
}
.img_edit img {
  width: 200px;
}

.month_name {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 30px;
  margin-bottom: 30px;
}


.none {
}
.flex1 {
}
.flex2 {
}

.flex1 h1 {
  margin-top: -12px;
  text-align: left;
}

.next a {
  background-color: #5cb85c !important;
  border-color:#4cae4c !important;
  color: #fff !important;
  padding: 10px;
  border-radius: 3px;
}

.previous a {
  background-color: #5cb85c !important;
  border-color:#4cae4c !important;
  color: #fff !important;
  padding: 10px;
  border-radius: 3px;
}

.next a:hover {
  color:#fff;
  background-color:#4A993C !important;
  border-color:#269abc !important;
  text-decoration: none;
}

.previous a:hover {
  color:#fff;
  background-color:#4A993C !important;
  border-color:#269abc !important;
  text-decoration: none;
}
.edit_delete_link_right {
  text-align: right;
}
.sidebar {
  border:0px solid #ccc;
  padding:20px;
  background-color: #CAE2ED;
}
.sidebar h1 {
  text-align: center;
}

.sidebar_last {
  border:0px solid #ccc;
  padding:20px;
  background-color: #E6EDF0;
}
.sidebar_last h1 {
  text-align: center;
}

.sidebar_last h4, .sidebar_last h1 {
  color: #A5B0B5;
}

.text-muted {
  color: #377dbd;
  padding: 15px;
  font-size: 50px;
}

.col-lg-4 img {
  width: 100px;
  height: 100px;
  margin-left: 80px;
}

.col-lg-4 h3 {
  text-align: center;
}

.jumbotron {
  background-color: #fff;
}

.jumbotron h1 {
  font-size: 55px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */

#footer {
   height:60px;   /* Height of the footer */
   width: 1000px;
   margin-left: 183px;
}
#footer {
  background-color: #fff;
}

#footer p {
  margin-left: 10px;
  padding-top: 20px;
}

#clear {
  clear: both;
}

ul {
  list-style: none;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;

  }
}

.pager > li > a {
  border-radius: 5px !important;
  padding: 10px;
}


/* Custom page CSS
-------------------------------------------------- */
.col-md-8 h3 {
  margin-top: -3px;
}

.container {
  max-width: 1000px;
  background-color:#fff;
  min-height:100%;
   position:relative;
}


.container_header {
  margin: 0 auto;
  max-width: 1000px;
  background-color:#fff;
}

.container .credit {
  margin: 20px 0;
}

.header {
  margin-bottom: -10px;
}

h1 a:hover {
  text-decoration: none;
}

.nav {
  margin-top: 25px;
  margin-right: 10px;
}

.col-md-12 {
  margin-left: 0px;
}

.nav a {
  background-color: #428ed3;
  color: #fff;
}
.nav a:hover {
  color:#fff;
  background-color:#377dbd !important;
  border-color:#269abc !important;
}

