/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html,
body {
  height: 100%;
}

.next a {
  background-color: #5cb85c !important;
  border-color:#4cae4c !important;
  color: #fff !important;
}

.previous a {
  background-color: #5cb85c !important;
  border-color:#4cae4c !important;
  color: #fff !important;
}

.next a:hover {
  color:#fff;
  background-color:#4A993C !important;
  border-color:#269abc !important;
}

.previous a:hover {
  color:#fff;
  background-color:#4A993C !important;
  border-color:#269abc !important;
}

.sidebar {
  border:1px solid #ccc;
  padding:20px;
  background-color: #eee;
}
.sidebar h1 {
  text-align: center;
}

.col-lg-4 img {
  width: 100px;
  height: 100px;
  margin-left: 80px;
}

.col-lg-4 h3 {
  text-align: center;
}

.jumbotron {
  background-color: #fff;
}

.jumbotron h1 {
  font-size: 55px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */

#footer {
  height: 60px;
}
#footer {
  background-color: #f5f5f5;
}

#clear {
  clear: both;
}

ul {
  list-style: none;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */

.container {
  width: auto;
  max-width: 900px;
}
.container .credit {
  margin: 20px 0;
}

.header {
  margin-bottom: 30px;
}

h1 a:hover {
  text-decoration: none;
}
