/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
       url('../assets/glyphicons-halflings-regular.woff') format('woff'), 
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'), 
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

html,
body {
  height: 100%;
  background-color: #FCFBFA;
}

.cat_h4 {
  text-align: center;
}

.col-md-8 h3 {
  text-align: right;
  margin-right: -50px;
}

ul li {
  background-color:#fff !important;
  color:#000;
}
.lang {
  float: right;
  margin-top: 5px;
  padding-right: -10px;
  padding-bottom: 10px;
}

.lang img {
  width: 20px;
  height: 15px;
}

a img {
  width: 60px;
  height: 60px;
}

.img_modal img {
  width: 300px;
}
.img_edit img {
  width: 200px;
}

.month_name {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.category_name {
  display: flex; /* or inline-flex */
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 30px;
}

.col-md-6 {
  margin-top: 60px;
  margin-bottom: -30px;
}

.col-md-6 h4 {
  margin-bottom: -10px;
  text-align: center;
}


.category_center {
}


.none {
  order: 1
}
.flex1 {
  order: 2;
  margin-left: 20px;
  margin-right: 20px;
}
.flex2 {
  order: 3
}

.flex1 h2 {
  margin-top: -8px;
  text-align: left;
  font-weight: bold;
}

.next a {
  background-color: #CAE2ED !important;
  border-color:#4cae4c !important;
  color: #333 !important;
  padding: 10px;
  border-radius: 3px;
}

.previous a {
  background-color: #CAE2ED !important;
  border-color:#4cae4c !important;
  color: #333 !important;
  padding: 10px;
  border-radius: 3px;
}

.next a:hover {
  color:#fff;
  background-color:#9BBECF !important;
  border-color:#269abc !important;
  text-decoration: none;
}

.previous a:hover {
  color:#fff;
  background-color:#9BBECF !important;
  border-color:#269abc !important;
  text-decoration: none;
}

.edit_delete_link_right {
  text-align: right;
}
.sidebar {
  border:0px solid #ccc;
  padding:20px;
  background-color: #CAE2ED;
  margin-top: 70px;
}
.sidebar h1 {
  text-align: center;
}

.sidebar_last {
  border:0px solid #ccc;
  padding:20px;
  background-color: #E6EDF0;
}
.sidebar_last h1 {
  text-align: center;
}

.sidebar_last h4, .sidebar_last h1 {
  color: #A5B0B5;
}

.text-muted {
  color: #377dbd;
  padding: 15px;
  margin-left: -8px;
  padding-top: 30px;
  font-size: 45px;
  font-weight: bold;
}

.col-lg-4 img {
  width: 100px;
  height: 100px;
  margin-left: 80px;
}

.col-lg-4 h3 {
  text-align: center;
}

.jumbotron {
  background-color: #fff;
}

.jumbotron h1 {
  font-size: 55px;
}
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */

#footer {
	height:80px;
	position:absolute;
	bottom:0;
	left:0;
	background:#ee5;
}
#footer {
  background-color: #fff;
  border-bottom-left-radius: 2em; 
}

#footer p {
  margin-left: 10px;
  padding-top: 20px;
}

#clear {
  clear: both;
}

ul {
  list-style: none;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;

  }
}

.pager > li > a {
  border-radius: 5px !important;
  padding: 10px;
}


/* Custom page CSS
-------------------------------------------------- */
.col-md-8 h3 {
  margin-top: -3px;
  margin-bottom: 30px;
}

.container {
  max-width: 1000px;
  background-color:#fff;
  min-height:100%;
  position:relative;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #888888;
}

.container_language {
  margin: 0 auto;
  max-width: 1000px;
  background-color:#fff;
}


.container_header {
  margin: 0 auto;
  max-width: 1000px;
}

.container .credit {
  margin: 20px 0;
}

.header {
  margin-bottom: -10px;
}

h1 a:hover {
  text-decoration: none;
}

.nav {
  margin-top: 35px;
  margin-right: -70px;
}

.add_new_button {
  float: right;
  margin-top: 10px;
}

.col-md-12 {
  margin-left: 0px;
}

.nav a {
  background-color: #428ed3;
  color: #fff;
}
.nav a:hover {
  color:#fff;
  background-color:#377dbd !important;
  border-color:#269abc !important;
}

.btn-default {
  border-color:#269abc !important;
  background-color: #428ed3 !important;
  color: #fff;
  padding: 9px;
}

.dropdown-menu a {
  color: #000 !important;
  background-color: #fff;
}
.dropdown-menu li a:hover {
  color: #fff !important;
  background-color: #aaa;
}

.dropdown-menu a:active {
  color: #fff;
}

.btn-group ul {
  background-color: #fff !important;
}


