// Place all the styles related to the purchases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
  .previous_page { background:#5cb85c; color:white; padding: 3px; font-size: 17px;}
  .previous_page.disabled { background: white; color: #777 }
  .current { background: #ccc; font-size: 17px;}
  .next_page { background: #5cb85c; color: white; padding: 3px; font-size: 17px;}
  .next_page.disabled { background: white; color: #777 } 
}

.pagination a:hover {
  background-color: #4a993c;
  text-decoration: none;
}

