<%= render 'nav' %>
<h3>Categories</h3>
<table class="table table-striped">
  <tbody>
      <% @categories.each do |category| %>
        <tr>
          <td><%= category.title %></td>
          <td><%= link_to "Edit", edit_category_path(category) %></td>
        </tr>
      <%end %>
  </tbody>
</table>


