<!DOCTYPE html>
<html>
<head>
  <title>Moneytor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h1 class="text-muted">Moneytor</h1>
    </div>
  </div>

  <div id="wrap">


    <!-- Begin page content -->
    <div class="container">

    <%= yield %>
      <div class="row">
        <div class="col-lg-4">
          <h3>Track what you want</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h3>Take control</h3>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-lg-4">
          <h3>Quick & safe</h3>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
          <p><a class="btn btn-success" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
    
    <div id="push"></div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">Built by <a href="http://hoshilab.com">Hayri Cicek</a></p>
    </div>
  </div>


</body>
</html>
