<!DOCTYPE html>
<html>
<head>
  <title>Moneytor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="header">
      <ul class="nav nav-pills pull-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <h3 class="text-muted">Moneytor</h3>
    </div>
  </div>

  <div id="wrap">
      <!-- Begin page content -->
      <div class="container">

        <p class="lead">Lorem ipsum dollor sit</p>
      </div>

      <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="muted credit">Built by <a href="http://hoshilab.com">Hayri Cicek</a></p>
      </div>
    </div>


</body>
</html>
